
@use '../../styles/mixins' as *;

.tv-container {
    height: 147px;
    width: 130px;

    @include up(lg) { 
        height: 480px; 
        width: 430px;
    }
}

.boulder{
  top: 65px;
  width: 125px;
    @include up(lg) {  
        top: 200px;
        width: 425px;
    }
}

.tv {
  left: 15px;
  width: 100px;
    @include up(lg) {  
        left: 60px;
        width: 325px;
    }
}

.tv-video-frame {
    
    position: relative;
    left: 19px;
    top: 5px;
    z-index: 3;
    width: 98px;
    height: 63px;
    background: black;
    transform: perspective(229px) rotateY(18deg) rotateZ(0.7deg);
    @include up(lg) { 
        left: 80px;
        top: 20px;
        width: 310px;
        height: 200px;
        transform: perspective(600px) rotateY(18deg) rotateZ(0.7deg);
    }
}

.tv-video-iframe {
    position: relative;
    transform: scale(0.32);
    border: 0;
    left: -101px;
    top: -42px;
  @include up(lg) { 
    transform: scale(1.02);
    top: 25px;
    left: 3px;
  } 
}

.static {
    top: 6px;
    left: 0;
    transform: perspective(800px) rotateY(49deg) rotateZ(0.7deg);
    width: 137px;
    height: 61px;
    @include up(lg) {  
        top: 22px;
        left: 6px;
        transform: perspective(2500px) rotateY(50deg) rotateZ(0.5deg);
        width: 454px;
        height: 194px;
  }
}