@use '../../styles/mixins' as *;

.ceiling-fan {
    position: relative;
    align-self: flex-start;
    top: -50px;
    img {
        width: 100px;
        @include up(lg) { 
            width: 300px;
        }
    }
}