@use './mixins' as *;

.cabinet-fire {
    z-index: 4;
    bottom: 0;
    position: absolute;
    .fire1 {
        position: absolute;
        bottom: 0;
        width: 100px;
        left: -26px;
        top: unset;
        @include up(lg) {  
             width: 200px;
             left: -48px;
        }
        
    }
    .fire2 {
        position: absolute;
        width: 150px;
        bottom: 0;
        left: -32px;
        top: unset;
        @include up(lg) {  
            width: 300px;
        }
    }
    .fire3 {
        position: absolute;
        width: 100px;
        bottom: 0;
        left: 36px; 
        top: unset; 
        @include up(lg) {  
            width: 400px;
            left: -46px;
        }
    }
    .fire4 {
        position: absolute;
        width: 50px;
        bottom: 0;
        left: 65px;
        top: unset;
         @include up(lg) {  
            width: 100px;
            left: 189px;
        }
    }
}




/* ---------------- POPUP BOX ---------------- */

.popup-box[data-dragging="true"] {z-index: 4}            
.popup-box.top-popup { z-index: 4; }     
.popup-box:focus { outline: none }


.icon[data-dragging="true"] {z-index: 3}            
.icon.top-icon { z-index: 3; }     
.icon:focus { outline: none }


.popup-box {
    position: fixed !important;
    background-color: white;
    z-index: 4;
    left: 0;
    top: 0;
    height: 100%;
    padding: 20px;
    width: 100%;
    @include up(lg) {  
        position: absolute !important;
        width: 400px;
        height: 400px;
        padding: unset;
    }

    .wrapper {
        border: 3px solid black;
        height: 100%;
        scrollbar-color: black #fff;
        scrollbar-width: thin;
        overflow-x: hidden;
    }

    .close {
        position: sticky;
        top: 12;
        right: 12px;
        float: right;
        cursor: pointer;
        background: white;
        border-radius: 100%;
        svg {
            height: 20px;
            width: 20px;
        }
    }
}

