@use './mixins' as *;

.tv-container {
    height: 130px;
    top: 50px;
    left: 0px;

    @include up(sm) { 
        height: 580px; 
        top: 300px;
        left: 100px;
    }
}

.boulder{
  top: 250px;
}

.tv {
  left: 60px;
}

.static {
    top: 25px;
        left: 0;
        transform: perspective(2500px) rotateY(50deg) rotateZ(.5deg);
        width: 556px;
        height: 242px;
}

.cabinet-container {
    right: 0;
    top: 100px;
}

.gold {
  top: 555px;
  left: 280px;
}

.airpod-pro {
  top: 569px;
  left: 340px;
}

.buddha {
  top: 534px;
  left: 400px;
}
.ego {
  top: 268px;
  left: 300px;
}
.remote {
  transform: rotate(20deg);
}
