@use './mixins' as *;

/* ---------------- TESTING ---------------- */

// html {border: 3px solid green;}
// body {border: 3px solid purple;}

/* ---------------- GENERAL ---------------- */
*, *::before, *::after { box-sizing: border-box; }

html {
    width: 350px;
    margin: auto;
    height: 100%;
    padding-top: 100px;
    overflow: hidden;

    @include up(sm) {  
        width: 1500px; 
        height: unset;
        padding-top: unset;
        overflow: unset;
    }
}

.pointer {cursor: pointer;}

/* ----------------- TEXT ----------------- */

h2 {
    font-size: 24px;
    margin: 0 0 12px 0;
    @include up(sm) {  font-size: 18px; }
}

h4 {
    font-size: 10px;
    margin: 0;
    @include up(sm) {  font-size: 10px; }
}

a {text-decoration: none;}

p {
    font-size: 18px;
    margin: 0;
     @include up(sm) {  font-size: 16px; }
}

.text-18 {font-size: 18px;}
.text-40 {font-size: 40px;}

/* ---------------- WIDTH ---------------- */

.w-30 { width: 30px;}
.w-60 { width: 60px;}
.w-100 { width: 100px;}
.w-110 { width: 110px;}
.w-150 { width: 150px;}
.w-200 { width: 200px;}

.w-400 { width: 400px;}
.w-500 { width: 500px;}
.w-full { width: 100%;}

.sm-w-300 {@include up(sm) {  width: 300px; }}
.sm-w-400 {@include up(sm) {  width: 400px; }}
.sm-w-500 {@include up(sm) {  width: 500px; }}

  
/* ---------------- HEIGHT ---------------- */

.h-200 { height: 200px;}
.h-250 { height: 250px;}
.h-900 { height: 900px;}
.h-full { height: 100%;}

.sm-h-800 {@include up(sm) {  height: 800px; }}
.sm-h-900 {@include up(sm) {  height: 900px; }}

/* ---------------- PADDING / MARGIN---------------- */

.m-12 {margin: 12px;}
.p-20 {padding: 20px;}

.mb-6 {margin-bottom: 6px;}


.pt-12 {padding-top: 12px;}

.sm-p-20 {@include up(sm) {  padding: 20px; }}


/* ---------------- POSITION ---------------- */

.relative {position: relative;}
.absolute {position: absolute;}

.top-0 {top: 0;}
.right-0 {right: 0}

/* ---------------- Z-INDEX ---------------- */

.z-1 { z-index: 1}
.z-2 { z-index: 2}

/* ---------------- SHOW/HIDE ---------------- */

.hide {display: none;}
.sm-show {@include up(sm) {  display: block }}
.sm-hide {@include up(sm) {  display: none }}

/* ---------------- FLEX ---------------- */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-bottom {
    align-items: end;
}


.emoji {
    margin: 3px;
    width: 18px;
    display: block;
    @include up(sm) {  width: 16px; }
}

.border {
    border: 3px solid black;
}