@use './mixins' as *;

/* ---------------- TESTING ---------------- */

// html {border: 3px solid green;}
// body {border: 3px solid purple;}

/* ---------------- GENERAL ---------------- */
*, *::before, *::after { box-sizing: border-box; }

html {
    min-width: 300px;
    padding-top: 100px;
    width: 100%;
    max-width: 500px;
    padding-top: 100px;
    margin: auto;
    @include up(lg) {
        max-width: 1500px; 
        padding-top: unset;
    }
}

body {
    margin: 20px;
}

.pointer {cursor: pointer;}

/* ----------------- TEXT ----------------- */

h2 {
    font-size: 24px;
    margin: 0 0 12px 0;
}

h4 {
    font-size: 12px;
    margin: 0;
}

a {text-decoration: none;}

p {
    font-size: 18px;
    margin: 0;
}

.text-18 {font-size: 18px;}
.text-40 {font-size: 40px;}

/* ---------------- WIDTH ---------------- */

.w-10 { width: 10px;}
.w-20 { width: 20px;}
.w-40 { width: 40px;}
.w-100 { width: 100px;}
.w-110 { width: 110px;}
.w-150 { width: 150px;}
.w-200 { width: 200px;}

.w-400 { width: 400px;}
.w-500 { width: 500px;}
.w-full { width: 100%;}

.sm-w-20 {@include up(lg) {  width: 20px; }}
.sm-w-40 {@include up(lg) {  width: 40px; }}
.sm-w-70 {@include up(lg) {  width: 70px; }}
.sm-w-350 {@include up(lg) {  width: 350px; }}
.sm-w-400 {@include up(lg) {  width: 400px; }}
.sm-w-500 {@include up(lg) {  width: 500px; }}

  
/* ---------------- HEIGHT ---------------- */

.h-200 { height: 200px;}
.h-250 { height: 250px;}
.h-900 { height: 900px;}
.h-full { height: 100%;}

.sm-h-600 {@include up(lg) {  height: 600px; }}
.sm-h-700 {@include up(lg) {  height: 700px; }}

/* ---------------- PADDING / MARGIN---------------- */

.mb-6 {margin-bottom: 6px;}

.m-12 {margin: 12px;}

.p-20 {padding: 20px;}

.pb-6 { padding-bottom: 6px;}

.pt-12 {padding-top: 12px;}
.pr-12 {padding-right: 12px;}

.sm-p-20 {@include up(lg) {  padding: 20px; }}


/* ---------------- POSITION ---------------- */

.relative {position: relative;}
.absolute {position: absolute;}

.top-0 {top: 0;}
.right-0 {right: 0}

/* ---------------- Z-INDEX ---------------- */

.z-1 { z-index: 1}
.z-2 { z-index: 2}

/* ---------------- SHOW/HIDE ---------------- */

.hide {display: none;}
.sm-show {@include up(lg) {  display: block }}
.sm-hide {@include up(lg) {  display: none }}

/* ---------------- FLEX ---------------- */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-bottom {
    align-items: end;
}


.emoji {
    display: block;
    text-align: center;
    padding: 3px 0px;
}

.border {
    border: 3px solid black;
}

.draggable-snapbox {
  outline: 2px dashed magenta;
  background: rgba(255, 0, 255, 0.08);
  pointer-events: none;
  box-shadow: inset 0 0 0 1px rgba(255,0,255,0.25);
}