@use 'sass:map';

$bp: (
  sm: 400px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

@mixin up($key) {
  $w: map.get($bp, $key);
  @media (min-width: #{$w}) { @content; }
}

@mixin down($key) {
  $w: map.get($bp, $key);
  @media (max-width: #{$w}) { @content; }
}