/* ---------------- BREAKPOINT & MIXINS ---------------- */
$bp: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

@mixin up($key) {
  @media (min-width: map-get($bp, $key)) { @content; }
}

@mixin down($key) {
  @media (max-width: map-get($bp, $key)) { @content; }
}