@use '../../styles/mixins' as *;


.remote {
    top: 120px;
    left: 35px;
    width: 40px;
    z-index: 2;
    @include up(lg) { 
        width: 90px;    
        left: 100px;
        top: 300px;
    }
    img {
        width: 40px;
        transform: scaleX(-1);
        @include up(lg) {  width: 90px;}
    }
}