
html {
    width: 1500px;
    margin: auto;
}

/* ---------------- TEXT ---------------- */

h2 {
    font-size: 18px;
    margin: 0 0 12px 0;
}

a {text-decoration: none;}

p {
    font-size: 12px;
    margin: 0;
}

.text-18 {font-size: 18px;}
.text-40 {font-size: 40px;}

/* ---------------- WIDTH ---------------- */

.w-30 { width: 30px;}
.w-60 { width: 60px;}
.w-100 { width: 100px;}
.w-200 { width: 200px;}
.w-400 { width: 400px;}
.w-500 { width: 500px;}
.w-800 { width: 800px;}
.w-full { width: 100%;}

/* ---------------- HEIGHT ---------------- */

.h-900 { height: 900px;}

/* ---------------- PADDING ---------------- */

.p-20 {padding: 20px;}

.pt-12 {padding-top: 12px;}

/* ---------------- POSITION ---------------- */

.relative {position: relative;}
.absolute {position: absolute;}


.bg-white {background-color: white;}

.z-1 { z-index: 1}

.border { border: 3px solid black;}
.radius-20 { border-radius: 20px;}

.top-0 {top: 0;}
.right-0 {right: 0}

.centered {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.center {text-align: center; }

.pointer {cursor: pointer;}


.draggable {
  position: absolute; /* relative to positioned parent */
  z-index: 9999;
  cursor: grab;
  user-select: none;
  touch-action: none; /* crucial for touch: allows smooth pointer events */
}
.draggable:active {
  cursor: grabbing;
}