.w-30 { width: 30px;}
.w-100 { width: 100px;}
.w-200 { width: 200px;}
.w-400 { width: 400px;}
.w-500 { width: 500px;}
.w-800 { width: 800px;}
.w-full { width: 100%;}

.p-20 {padding: 20px;}

.m-20 {margin: 20px;}

.relative {position: relative;}
.absolute {position: absolute;}

.flex {display: flex;}

.bg-white {background-color: white;}

.z-1 { z-index: 1}

.border { border: 3px solid black;}
.radius-20 { border-radius: 20px;}

.top-0 {top: 0;}
.right-0 {right: 0}

.text-80 {font-size: 80px;}

.centered {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.center {text-align: center; }

.pointer {cursor: pointer;}

a {text-decoration: none;}