@use '../../styles/mixins' as *;

.buddha {
    top: 200px;
    left: 63px;
    @include up(lg) {  
        left: 152px;
        top: 500px;
    }
    img {
        width: 20px;
        @include up(lg) {  width: 40px;}
    }
}

.validation {
    @include up(lg) {  
        left: -415.238px;
        top: -356.633px;
    }
}